footer.footer 
    .footer__logo 
        img(src='/img/logo-green.png' alt='Natour logo')
    ul.footer__nav 
        li: a(href="#", target="_blank", rel="noopener noreferrer") About us
        li: a(href="#", target="_blank", rel="noopener noreferrer") Downlaod apps 
        li: a(href="#", target="_blank", rel="noopener noreferrer") Become a guide 
        li: a(href="#", target="_blank", rel="noopener noreferrer") Careers 
        li: a(href="#", target="_blank", rel="noopener noreferrer") Contact 
    p.footer__copyright &copy; By Dev Artist 